body{
    color:black;
    font-family: Arial;
    margin: 20px;
    background-color: lightblue;
    text-align: left;
    
}

 h2{
    text-align: left;
    font-size: 5em;
    font-family: Arial;
    color:white;
}
li#idea{
    text-align: left;
    font-family: Arial;
    color: darkmagenta;
}
li#categories{
    color: darkorchid;
}
ul{
    text-align: left;

}
.description{
    background-color: lightblue;
}
   


    
    
    
   
    
   