body{
    color:black;
    font-family: Arial;
    margin: 20px;
    background-color: cornflowerblue;
    text-align: left;
    font-size: 8em;
}

 h2{
    text-align: left;
    font-size: 5em;
    font-family: Arial;
    color: cornflowerblue;
}
li#idea{
    text-align: left;
    font-family: Arial;
    color: darkmagenta;
}
li#categories{
    color: darkorchid;
}
ul{
    text-align: center;

}

   


    
    
    
   
    
   